---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import PageContentSection from "../components/PageContentSection.astro";
import DiagramSection from "../components/DiagramSection.astro";
import ContactSection from "../components/ContactSection.astro";
---

<Layout
	title="Development : Calder Textiles"
	heroImageBase="winding-image"
	description="A key area of our operation is to develop new ranges with and for our customers. We work very closely with our customers whether we are creating new shades, stipples or a new colour bank."
>
	<Hero
		imageBase="winding-image"
		imageAlt="Man working at a winding machine"
		pageDownArrowHoverTip="<strong>Next: </strong> Development, new ranges, shades and textures"
	>
		<!-- using Fragment here, span also works, but fragment produces tidier markup -->
		<Fragment slot="hero-heading">We work across all requirements with absolute dedication.</Fragment>
		<!-- <Fragment slot="hero-para">One of the UK's foremost woollen yarn spinners with a world-wide reputation for excellence.</Fragment> -->
	</Hero>

	<PageContentSection
		heading="Development"
		pageDownAnchorLink="#diagram"
		pageDownAriaLabel="Next section: Development diagram"
		pageDownArrowHoverTip="<strong>Next: </strong> Development in numbers"
	>
		<Fragment slot="page-content">
			<p class="page-content__lead-para">
				A key area of our operation is to develop new ranges with and for our customers.
			</p>
			<p>
				We work very closely with our customers whether we are creating new shades, be that natural heathers, dyed
				heathers, stipples or a new colour bank.
			</p>
		</Fragment>

		<Fragment slot="page-content-2">
			<p>
				We also look at the make-up of the yarn, count and raw materials to see how texture can play a part. We can also
				experiment with different fibres such as Alpaca and Cashmere.
			</p>
		</Fragment>
	</PageContentSection>

	<!-- just do this diagram bit ad hoc for now it's the only one of its kind -->
	<!-- so probably doesn't justify a component -->

	<!-- picture seems to be the best solution for this -->

	<DiagramSection
		diagramBase="development-diagram"
		diagramStackSeparator="url('/images/development-diagram-arrow-down.png')"
		diagramAlt={[
			"We export over 60% of our yarn",
			"We manufacture 40,000kgs of woollen spun and dyed yarn per week",
			"Produced under 1 roof to UK and international customer specifications",
		]}
		diagramWidth={941}
		diagramHeight={1014}
		bgColour="var(--pageContentBgColour-4)"
		colModifier="--development"
		pageDownArrowFillColour="var(--darkgrey)"
		pageDownArrowHoverTip="<strong>Next: </strong> Contact Us"
		pageDownArrow={false}
		sectionFixedHeight={false}
		lastSection={true}
	/>
</Layout>

<style></style>
