---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import PageContentSection from "../components/PageContentSection.astro";
import PictureSection from "../components/PictureSection.astro";
import ContactSection from "../components/ContactSection.astro";
import EmptySection from "../components/EmptySection.astro";
---

<Layout title="Calder Textiles : Home" heroImageBase="sheep-walking-mountain">
	<Hero imageBase="sheep-walking-mountain" imageAlt="Sheep walking on the mountain" anchorLink="#aboutus">
		<!-- <Hero imageBase="pink-yarn" imageAlt="Sheep walking on the mountain" anchorLink="#aboutus"> -->
		<!-- using Fragment here, span also works, but fragment produces tidier markup -->
		<Fragment slot="hero-heading">Welcome to <br />Calder Textiles</Fragment>
		<Fragment slot="hero-para">
			One of the UK's foremost woollen yarn spinners with a world-wide reputation for excellence.
		</Fragment>
	</Hero>

	<PageContentSection heading="About Us" bgColour="var(--pageContentBgColour-1)" anchorId="aboutus">
		<Fragment slot="page-content">
			<p class="page-content__lead-para">
				Calder Textiles is a traditional family owned spinning mill located in Dewsbury, West Yorkshire, an area
				renowned for its textile heritage and expertise.
			</p>
			<p>Calder Textiles are manufacturers of luxury high quality carpet yarns produced on the woollen system.</p>
			<p>We offer a wide range of products to the United Kingdom and worldwide.</p>
		</Fragment>

		<Fragment slot="page-content-2">
			<p>Products include yarn for contract, residential, cruise ships, aviation, pass machine and hand tufted.</p>
			<p>
				We specialize in supplying innovative bespoke products in 100% wool or wool mixtures using carefully selected
				high quality predominately British, New Zealand and Scandinavian sourced wools.
			</p>
		</Fragment>
	</PageContentSection>

	<!-- just take this out for a while, till we get the webps for herd-in-field -->
	<!-- <EmptySection />  -->
	<PictureSection imageBase="spinning-image" imageAlt="Spinning machine" />
	<ContactSection />
</Layout>

<style></style>
