---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import PageContentSection from "../components/PageContentSection.astro";
import DiagramSection from "../components/DiagramSection.astro";
import PictureSection from "../components/PictureSection.astro";
import ContactSection from "../components/ContactSection.astro";
---

<Layout title="Products : Calder Textiles" heroImageBase="cream-yarn">
	<main>
		<Hero imageBase="cream-yarn" imageAlt="Cream coloured yarn">
			<!-- using Fragment here, span also works, but fragment produces tidier markup -->
			<Fragment slot="hero-heading">
				We pride ourselves on the quality we achieve, as well as <span class="nowrap">the versatility</span> of production.
			</Fragment>
			<!-- <Fragment slot="hero-para">Not One of the UK's foremost woollen yarn spinners with a world-wide reputation for excellence.</Fragment> -->
		</Hero>

		<PageContentSection heading="Products" bgColour="var(--pageContentBgColour-2)" pageDownAnchorLink="#diagram" ,>
			<Fragment slot="page-content">
				<p class="page-content__lead-para">Yarns made on the Woollen Spinning System</p>
				<!-- fs-6 is 1rem, to match <p>, also the h3s used to have mb-0 -->
				<h3 class="fs-6 fw-bold">Uses</h3>
				<p class="mb-4">Axminster, Wilton, Tufted, Colortec, Graphics, Flat weave, pass machine and rug manufacture.</p>

				<h3 class="fs-6 fw-bold">Raw materials</h3>
				<p class="mb-4">
					All Wool, 80/20 Wool/Polyamide, 80/10/10<br />
					Wool/Polyamide/Polyester Melty and Wool blends.
				</p>
				<h3 class="fs-6 fw-bold">Count Ranges</h3>
				<p>52 to 146 yards/oz. Dewsbury (Nm 1.7 to Nm 4.7).</p>
			</Fragment>
		</PageContentSection>

		<DiagramSection
			diagramBase="products-diagram"
			diagramStackSeparator="url('/images/products-diagram-dotted-line.png')"
			diagramAlt={[
				"Ply. Single, two, three, four and six",
				"Dyeing. Fibre (stock), hank (skein)",
				"Finishing. Scoured (washed), Chemset and Autoclave",
				"Hanks (skeins), Cones, Parallel tubes (cylinders) and Cheeses (pencil tubes)",
			]}
			diagramWidth={631}
			diagramHeight={562}
			numberOfDiagrams={4}
			bgColour="var(--pageContentBgColour-4)"
			pageDownArrowFillColour="var(--darkgrey)"
		/>

		<PictureSection imageBase="pom-colour-samples" imageAlt="Pom Colour Samples" />

		<ContactSection />
	</main>
</Layout>

<style></style>
