---
import GoogleMap from "./GoogleMap.astro";

import obfuscateEmail from "../js/obfuscate-email";

export interface Props {
	sectionFixedHeight?: boolean;
}

const { sectionFixedHeight = true } = Astro.props;

const emailSpan = obfuscateEmail("info@caldertextiles.co.uk", "section-contact__email");
---

<div class="wrapper" class:list={[{ sectionFixedHeight }]}>
	<!-- wrapper div uses the negative margin / padding fiddle to get round using calc with svh. 
		No other padding or margin or any other styling should be used on it
		if fixedHeight isn't true it'll do nothing at all, just wrap -->
	<!-- nb big padding-y in the custom css, bootstrap wouldn't cut it --><!-- padding x only for sm and above i.e. not for mobile -->
	<section class="section-contact px-sm-5" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 d-flex align-items-center">
					<div class="section-contact__contact-content">
						<h3 class="section-contact__heading fs-2 pb-4 serif" data-aos="fade-up">Contact Us</h3>
						<p class="section-contact__intro fw-bold py-2" data-aos="fade-up">
							Talk to us. You can depend on our experienced sales team. Their knowledge will provide you with the ideal
							yarn solution and a successful working relationship, wherever you are in the world.
						</p>

						<!-- wrapper div to keep address and contact details together for the aos transition -->
						<div data-aos="fade-up">
							<p class="section-contact__address">
								<span class="fw-bold">Calder Textiles Ltd</span><br />
								Dewsbury Mills<br />
								Thornhill Road<br />
								Dewsbury<br />
								WF12 9QE<br />
								United Kingdom
							</p>

							<p class="section-contact__details">
								<span class="fw-bold">T</span>
								<a href="tel:+441924456411" class="section-contact__phone">+44 (0)1924 456 411</a><br />
								<span class="fw-bold">F</span> +44 (0)1924 487 387<br />
								<span class="fw-bold">E</span>
								<span class="section-contact__email-span" set:html={emailSpan} />
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-7 pt-5 pt-lg-0">
					<!-- google maps here -->
					<!-- div is in the GoogleMap component -->
					<GoogleMap />
					<!-- </div> -->
				</div>
			</div>
		</div>
	</section>
</div>

<style>
	.section-contact {
		/* needs a white background, now there's a fixed backgound image on body */
		background-color: hsl(var(--white));

		/* these values should be the same as those for page-content-section */
		/* they're set much higher for larger (non-mobile) screens */
		padding-top: 2rem;
		padding-bottom: 2rem;

		flex: 1;
	}

	@media (min-width: 768px) {
		.section-contact {
			/* big padding here! */
			/* careful that it doesn't clash with bs px that's in the markup */
			padding-top: 6rem;
			/* more at the bottom to make up for the py-5 that's on the heading */
			padding-bottom: 8rem;
		}
	}

	.section-contact__contact-content {
		color: hsl(var(--darkernavy) / 0.85);
	}

	.section-contact__heading {
		/* font-family now handled by .serif utility, see after the :root stuff */
		/* font-family: Georgia, serif; */
		color: var(--accent-2);
	}

	.section-contact__intro {
		line-height: 1.3rem;
		max-width: 42ch;
	}

	/* .section-contact__email is the class in the set:html email obfuscation thing */
	/* it needs to be :global otherwise the class in the a tag won't work because astro can't process it */
	/* so it doesn't get its scope hash code thingy */

	:global(.section-contact__email),
	.section-contact__phone {
		color: var(--text);
		text-decoration: none;
	}
	:global(.section-contact__email):is(:hover, :focus-visible),
	.section-contact__phone:is(:hover, :focus-visible) {
		color: var(--accent-2);
	}
</style>
