---

---


<section class="section-empty">


</section>



<style>

.section-empty {
    /* position: relative; */
    height: 30rem;
    /* border: 1px solid hotpink; */
    overflow: hidden;
}

@media(max-width: 768px) {

    .section-empty {
        height: 0;
    }

}

</style>