---
// icon import now in the footerLogo component, not needed here
// import { Icon } from "astro-icon";
---

<!-- <footer class="footer-caldertextiles py-4 px-2"> -->
<footer class="footer-caldertextiles">
	<!-- put the logo in a component just in case we need it and delete it here -->

	<div class="container-fluid px-4 py-4 footer-caldertextiles__panel panel--text">
		<div class="row align-items-center">
			<div class="col">UK Registered Company No. 1803068</div>

			<!-- vertical margins here when not sm or above (i.e. mobile) because everything stacks -->
			<div class="col-sm-auto ms-sm-auto text-sm-end px-sm-5 my-3 my-sm-0">
				<a href="/privacy" class="footer-caldertextiles__link">Privacy</a> | <a
					href="/contact"
					class="footer-caldertextiles__link">Contact</a
				>
			</div>

			<div class="col-sm-auto text-sm-end">
				Site designed by <a
					href="https://www.wolfstarconsultancy.com"
					title="Wolfstar website - opens a new window / tab"
					target="_blank"
					class="footer-caldertextiles__wolfstar-link">Wolfstar</a
				>
			</div>
		</div>
	</div>
</footer>

<style>
	.footer-caldertextiles {
		/* border: 1px solid magenta; */
	}

	.footer-caldertextiles__logo {
		color: var(--accent);
		/* color: #f0f; */
	}

	.footer-caldertextiles__panel {
		/* padding: 2rem; */
	}

	.panel--logo {
		display: flex;
		justify-content: flex-end; /* flex-end as fallback */
		justify-content: end;
		background-color: hsl(var(--white));
		/* border: solid 1px hotpink; */

		/* try losing the logo completely */
		/* yeah, looks good */
		/* put the logo in a component just in case we need it and delete it */
	}

	/* hide logo panel on mobile */
	/* match the bootstrap breakpoints */
	/* https://getbootstrap.com/docs/5.0/layout/breakpoints/#max-width */
	@media (max-width: 575.98px) {
		.panel--logo {
			display: none;
		}
	}

	.panel--text {
		background-color: var(--text);
		color: hsl(var(--white));
		/* border: solid 1px yellow; */
	}

	.footer-caldertextiles__link,
	.footer-caldertextiles__wolfstar-link {
		color: hsl(var(--white));
		text-decoration: none;
		/* position relative for the ::after positioning */
		position: relative;
	}

	/* bit of space for the privacy contact links */
	/* they're a bit tight around the pipe fnarr fnarr */
	.footer-caldertextiles__link {
		margin-inline: 0.2rem;
	}

	.footer-caldertextiles__wolfstar-link {
		font-weight: bold;
	}

	.footer-caldertextiles__link:hover,
	.footer-caldertextiles__wolfstar-link:hover {
		color: hsl(var(--white));
	}

	.footer-caldertextiles__link::after,
	.footer-caldertextiles__wolfstar-link::after {
		content: "";
		position: absolute;
		/* background-color: var(--muted); */
		height: 1px;
		width: 100%;
		border-radius: 2px;
		bottom: -0.3rem;
		left: 0;

		transform: scaleX(0);
		transition: transform 200ms ease-in-out;
	}

	/* tried doing this with :is, ended up harder to read and still didn't work! */
	.footer-caldertextiles__link:hover::after,
	.footer-caldertextiles__wolfstar-link:hover::after,
	.footer-caldertextiles__link:focus-visible::after,
	.footer-caldertextiles__wolfstar-link:focus-visible::after {
		transform: scaleX(1);
	}

	/* doing the background-color in separate ruleset in case we want different color underline for different links */
	/* tried this with :is also nope */
	.footer-caldertextiles__link::after,
	.footer-caldertextiles__wolfstar-link::after {
		background-color: var(--muted);
	}

	.footer-caldertextiles__link:focus-visible,
	.footer-caldertextiles__wolfstar-link:focus-visible {
		outline: none;
		background-color: hsl(var(--white) / 0.25);
	}

	.footer-caldertextiles__link::after {
		/* background-color: hsl(var(--white)); */
	}
</style>
