---
import { Icon } from "astro-icon";

// we're not currently using this component, keeping it just in case
---

<!-- -fluid so it goes to 100% width -->
<div class="container-fluid px-5 py-4 footer-caldertextiles__panel panel--logo">
	<div class="footer-caldertextiles__logo">
		<Icon name="caldertextiles-logo-crop" width="150" class="footer-caldertextiles__logo-svg" />
	</div>
</div>
