---
import PictureFullWidth from "./PictureFullWidth.astro";

// some prop drilling required to get the imageBase from the page that calls it
// through to the pictureFullWidth component

export interface Props {
	imageBase: string;
	imageAlt?: string;
}

const { imageBase, imageAlt = "" } = Astro.props;
---

<section class="section-picture">
	<!-- lazyLoad is true by default, you could leave it out here -->
	<!-- NB! from web.dev https://web.dev/lazy-loading-images/ -->
	<!-- One thing you will want to avoid is lazy loading images that are in the viewport during startup. -->

	<PictureFullWidth
		imageBase={imageBase}
		pictureClasses="section-picture__picture picture--blur-load"
		imageClasses="section-picture__image"
		lazyLoad={true}
	/>
</section>

<style></style>
