---
import { Icon } from "astro-icon";
---

<!-- see: https://www.youtube.com/watch?v=-HS9IIuT_Mo&t=418s --><!-- or, if you want something fancier https://www.youtube.com/watch?v=Gx35fMhDPWs --><!-- might need to do something to disable scroll while preloader is showing --><!-- yeah really need to do this! --><!-- lets create this div with the script, so we can be sure it's ready in time --><!-- the script here isn't deferred --><!-- tried that, didn't take for some reason -->
<div class="loader">
	<!-- <div class="loader loader--blank"> -->

	<!-- another div here to position the icon and the spinning circle absolutely -->
	<div class="loader__inner">
		<!-- <div class="spinning-circle"></div> -->
		<Icon
			name="caldertextiles-c-icon"
			width={50}
			class="caldertextiles-c-icon-svg"
			aria-hidden="true"
			alt="Calder Textiles"
		/>
	</div>
</div>

<script>
	import initialise from "../js/initialise";

	// right, what's gonna happen with the preloader is this.
	// if it's the first time the site has loaded we set session storage item
	// then check for that session storage item on each page load

	// if the item is NOT set, add the loader--loading class

	// if the item IS set hide the loader (add the loader--transparent & loader--hidden classes)
	// set a domcontentloaded event listener with the initialise function as a callback

	// the --loading class has the ::after so the spinner appears
	// and a transition rule, so it fades when the --hidden class is applied

	// otherwise the window load event will just add the --hidden class to the preloader div
	// and the transition (fade) will happen every time you reload the page or go to a new page

	// ------------------- refs ------------------------------------------------------

	// first get a reference to the preLoader element
	// this will be passed into the functions
	const preLoader: HTMLElement = document.querySelector(".loader");

	// ------------------- functions ------------------------------------------------------

	function showLoader(loader: HTMLElement) {
		// only add the loader--loading class if we need the loader
		// because that class adds the transition, and we don't
		// want the transition happening every time a new page loads

		// loader--loading also adds the spinning circle animation, using ::after
		loader.classList.add("loader--loading");

		// also add a class to the body to prevent scrolling while loader is showing
		document.body.classList.add("loader-showing");
		console.log(`adding loader classes`);
		console.log(`loader showing, preloadComplete: ${sessionStorage.getItem("preloadComplete")}`);
	}

	function hideLoader(loader: HTMLElement) {
		// hide the loader
		loader.classList.add("loader--transparent");
		// set loader visibility to hidden so it doesn't interfere with links and buttons
		// nah - this needs doing on transitionend or it breaks the transition
		// it actually doesn't matter because the only time we use hideLoader is to hide it if it's not required
		// NOT if it's finished doing it's thing and we're fading it out
		// but at the moment we're using .remove() instead to take the preloader out of the dom completely
		// (see handleTranstionEnd() below)
		//  so we can do that here, without waiting for any transition
		loader.remove();
		// console.log("loader removed!");
		// loader.classList.add("loader--hidden");

		console.log(`loader not showing, preloadComplete: ${sessionStorage.getItem("preloadComplete")}`);
	}

	function handleTransitionEnd() {
		// set preloader visibility to hidden
		// this.classList.add("loader--hidden");
		// try removing the loader instead of setting visibility to hidden
		// (value of 'this' is set bc this function is a callback from an eventlistener
		this.remove();
		console.log("element removed", this);
		// console.log("transitionend event fired - preloader visibility hidden");
		// remove the body class that was disabling scrolling
		document.body.classList.remove("loader-showing");
		console.log("remove body class loader-showing");

		// this is the first place we need to call the initialise function
		// i.e. when the window load event has fired AND the preloader has finished its fade out
		// the preloader fade out is initiated by adding the class 'loader--transparent' to the preloader
		initialise();
	}

	function handleWindowLoad(loader: HTMLElement) {
		console.log(`load event fired!`);
		// set the loader to transparent, initiating the transition (the end of which triggers handleTransitionEnd())
		loader.classList.add("loader--transparent");

		// set the session storage item to log that preload has been completed
		sessionStorage.setItem("preloadComplete", "true");
		console.log(`preloadComplete is now: ${sessionStorage.getItem("preloadComplete")}`);

		// unhide the content
		// maybe think about putting these into initialise
		// if we want to be sure that the fonts are loaded before we show *anything*
		// then they should go in initialise
		// certainly consider it if we change from the native font stack to tex gyre heros
		document.querySelector(".content-wrapper").classList.remove("hidden");
		console.log("unhide the content wrapper!");
	}

	// ------------------- end functions --------------------------------------------

	console.log("preloader running");

	// sessionStorage preloadComplete is set by handleWindowLoad function (above)
	if (!sessionStorage.getItem("preloadComplete")) {
		// if preloadComplete hasn't been set yet
		// go ahead and show the loader animation
		// (by adding loader--loading to the classlist)
		showLoader(preLoader);

		// add eventlistener for the transitionend when the loader fades out
		// when it fires, set loader visibility to hidden so it doesn't interfere with links and buttons
		preLoader.addEventListener("transitionend", handleTransitionEnd);
		console.log(`transition event listener added`);

		// add eventlistener for the window load event, fires when everything is loaded (except lazy loaded images)
		// the callback / handler will hide the loader, show the content and set the sessionstorage item

		// --------------------------------------------------------------------------------
		// disable this eventlistener line to test loading animation!!!!!!!!
		// also, isn't load event unnecessarily late? would dcl work instead?
		// no bc we want to make sure the fonts are loaded
		window.addEventListener("load", () => handleWindowLoad(preLoader));
		console.log(`load event listener added`);
	} else {
		console.log("no loader condition");
		// this is what happens if there's no preloader
		// i.e. the session storage item 'preloadcomplete' has already been set

		// hide the preloader
		// this is currently the only time we call hideLoader
		hideLoader(preLoader);
		// there's a problem here, in that until this script runs, the loader will still be stopping the links working
		// it doesn't show, bc the background is only applied by loader--loading but it's still there
		// any ideas?

		// this is the second place we need to call the initialise function
		// i.e. if preloadComplete is already set and we're skipping the loader

		// but we can't initialise until the hero image is complete
		// otherwise we can't get a reference for heroImage.decode
		// so put the initialise in an event listener for domcontentloaded
		window.addEventListener("DOMContentLoaded", initialise);
	}
</script>

<style>
	/* to disable scrolling while loader is showing */
	body.loader-showing {
		/* height: 100vh; */
		/* overflow-y: hidden; */
		position: fixed;
		/* this is width for horizontal writing-mode */
		inline-size: 100%;
		overflow-y: scroll;
	}

	body.loader-hidden {
		/* static is the default position for body */
		position: static;
		overflow-y: auto;
	}

	/* NB google maps z-index appears to be 1000000 plus a few; */
	/* so I suppose we're gonna have to go 1000100 or maybe 2000000! */

	.loader {
		position: fixed;
		z-index: 1000100;
		inset: 0;
		/* background-color not here, on loader--loading instead, otherwise it covers the page in blue briefly everytime */
		/* background-color: var(--accent); */
		/* border: 1px solid hotpink; */
		color: hsl(var(--white));
		width: 100vw;
		height: 100vh;
		align-items: center;
		justify-content: center;
		display: flex;

		/* visibility: hidden; */
	}

	.loader--loading {
		background-color: var(--accent);
		/* background-color: hsl(var(--darkergrey)); */
		/* visibility isn't transitionable? */
		/* transition: opacity 0.5s, visibility 0.5s; */
		/* background-color: var(--accent); */
		transition: opacity 0.5s ease-in;

		/* will-change: opacity; */
	}

	/* the spinning circle is being done with an ::after bc historical reasons */
	/* (it used to be the only element in the loader) */
	/* it could just as well be done with a div inside loader__inner (as a sibling of the icon) */

	/* .loader--loading::after { */
	.loader--loading .loader__inner::after {
		content: "";
		display: flex;
		position: absolute;
		inset: 0;
		width: 70px;
		height: 70px;
		border: 3px solid var(--accent-2);
		border-top-color: hsl(var(--white));
		border-radius: 50%;

		animation: loading 0.75s linear infinite;
	}

	@keyframes loading {
		from {
			transform: rotate(0turn);
		}
		/* 50% { transform: scale(0.75) } */
		to {
			transform: rotate(1turn);
		}
	}

	.loader--transparent {
		opacity: 0;
	}

	.loader--hidden {
		/* visibility breaks the transition */
		/* but we definitely need it hidden otherwise no links or buttons work! */
		/* so add this class with an event listener for transition end */
		/* also add it if preloadComplete is true */

		/* why not just remove preloader from the dom? try that (in handleTransitionEnd function above) */
		visibility: hidden;
	}

	.loader__inner {
		position: relative;
		/* maybe it'll need a size */
		min-width: 70px;
		min-height: 70px;
		/* border: 1px solid #ff0; */
		display: flex;
		align-items: center;
		justify-content: center;
	}

	/* hide the c-icon until loader is set to --loading */
	.loader .caldertextiles-c-icon-svg {
		display: none;
	}

	.loader--loading .caldertextiles-c-icon-svg {
		/* unhide icon for loader--loading */
		display: initial;
		/* position: absolute; */
		/* inset: 0; */
		/* color: var(--accent-2); */
		color: var(--white);
		/* transform: translateX(60px); */
		/* border: 1px solid #f0f; */
		width: 35px;
		height: 35px;
		/* z-index: 2000000; */
		animation: pulsing 1.5s linear infinite;
	}

	@keyframes pulsing {
		0% {
			/* transform: scale(1); */
			/* transform: scaleX(-1); */
			opacity: 0.25;
		}
		50% {
			/* transform: scale(0.9); */
			/* transform: scaleX(1); */
			opacity: 1;
		}
		100% {
			/* transform: scale(1); */
			/* transform: scaleX(-1); */
			opacity: 0.25;
		}
	}
</style>
